@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary_color: #00bd97;
  --second_color: #1bc4f2;
  --bg_color: #fff;
  --text_color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary_color: #00bd97;
    --second_color: #1bc4f2;
    --bg_color: #24232d;
    --text_color: #fff;
  }
}
* {
  margin: 0;
  padding: 0;
  /* color: var(-?-text_color); */
}

body {
  color: var(--text_color);
  background: var(--bg_color);
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
